.navbar {
  width: auto;
  height: auto;
  font-size: medium;
  background: linear-gradient(to top,  
      rgb(0, 0, 0), /* Light Blue with transparency */
      rgb(21, 76, 119)   /* Dark Blue with slight transparency */
  );
  background-color: black;
  
}


.navbar ul {
    list-style: none; 
}


nav .menu {
  position:absolute;
  top: 0.75rem;

}

