#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;

  /* ✅ Background Image */
  background-image: url("/src/assets/images/waves.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* ✅ THIS makes it FIXED */
  background-attachment: fixed;
}
